{% load static %}
<! DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title> Aplicação De Instrução Excel</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <style>
        body{
        background-color: rgb(173, 216, 230)
        }

    </style>
</head>

<body>
    <div class="header">
        <img src="{% static 'images/icone.png' %}" alt="icone da Escom" width="10%">
        <h1 class="h1"> Bem Vindo a Pàgina Inicial De Instrução</h1>
    </div>

    <div class="line"></div>
    <br>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico1' %}'">Ir Para Tópico 01</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico2' %}'">Ir Para Tópico 02</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico3' %}'">Ir Para Tópico 03</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico4' %}'">Ir Para Tópico 04</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico5' %}'">Ir Para Tópico 05</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico6' %}'">Ir Para Tópico 06</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico7' %}'">Ir Para Tópico 07</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico8' %}'">Ir Para Tópico 08</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico9' %}'">Ir Para Tópico 09</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico10' %}'">Ir Para Tópico 10</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico11' %}'">Ir Para Tópico 11</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico12' %}'">Ir Para Tópico 12</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico13' %}'">Ir Para Tópico 13</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico14' %}'">Ir Para Tópico 14</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico15' %}'">Ir Para Tópico 15</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico16' %}'">Ir Para Tópico 16</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico17' %}'">Ir Para Tópico 17</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico18' %}'">Ir Para Tópico 18</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico19' %}'">Ir Para Tópico 19</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_excel:topico20' %}'">Ir Para Tópico 20</button>
    <br>
    <br>
</body>
</html>












