{% load static %}
<! DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tópico 15</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="h1"> Bem Vindo ao Tópico 15 - Função Maior e Menor</h1>
    <div class="line"></div>
    <p><b>FUNÇÃO MAIOR E MENOR:</b>nesta função podemos obter o segundo, terceiro.... maior ou menor valor de um intervalo, diferente do max e min</p>
    <img src="{% static 'images/funcao_maior.png' %}" alt="funcao maior" width="30%">

    <p>nesse caso a matriz que é o primeiro valor é o intervalo de números escolhidos arrastando o mouse nas células e o valor 1 representa que queremos o primeiro maior valor<br>
    caso seja 2 no lugar do 1, ele pegará o segundo maior valor e assim adiante<br>
    a mesma coisa vale pra funcao MENOR, ela pegará o menor valor dentro de um intervalo de dados
    </p>
    <br>
    <a href="{% url 'app_excel:index' %}">Voltar Para Página inicial</a>