{% load static %}
<! DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tópico 12</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="h1"> Bem Vindo ao Tópico 12 - Função Soma</h1>
    <div class="line"></div>
    <p><b>FUNÇÃO SOMA:</b>para realizarmos operação de soma podemos usar uma função para agilizar o processo como mostra a imagem a baixo&#8595;</p>
    <img src="{% static 'images/soma_arrastado.png' %}" alt="vizualização da função soma arrastando com mouse" width="10%">
    <p>quando fazemos dessa forma inserimos a função soma<br>
        clicamos na célula desejada e arrastamos pegando todas as células que deverão ser somadas e apertamos enter</p>
    <hr>
    <p>uma forma alternativa de utilizar a funçao soma é como mostra a imagem a baixo&#8595;</p>
    <img src="{% static 'images/soma_nao_arrastado.png' %}" alt="vizualização da função soma selecionando com mouse" width="20%">
    <p>fazemos a funcao soma dessa forma quando as células não estão uma ao lado da outra com os valores a serem somados<br>
    sendo assim clicamos na célula a ser somada e colocamo o ";"(ponto e virgula) e depois selecionamos a outra célula, ao final damos enter normalmente</p>
    <a href="{% url 'app_excel:index' %}">Voltar Para Página inicial</a>

</body>
</html>