{% load static %}
<! DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tópico 11</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="h1"> Bem Vindo ao Tópico 11 - Operações Básicas</h1>
    <div class="line"></div>
    <p><b>SIMBOLOS DE OPERAÇÕES BÁSICAS:</b><br>
        "+" usado para soma<br>
        "-" usado para subtração<br>
        "/" usado para divisão<br>
        "*" usado para multiplicação<br>
        No Excel para podermos fazer qualquer operação ou uso de fórmula precisamos clicar na célula e iniciar com um "="<br>
        posteriormente podemos fazer =20+20 ou de uma forma mais prática fazer como mostra a imagem a baixo&#8595;</p>

    <img src="{% static 'images/soma_2celulas.png' %}" alt="vizualize a soma de 2 células" width="10%">
    <p> como mostra a imagem acima, inserimos o sinal "="<br>
        posteriormente clicamos na célula, usamos o sinal de operação desejado e clicamos em outra célula pra realizar a operação apertando enter<br>
        dessa forma podemos somar vários números fazendo: =a1+b5+g8+c10... e assim por diante como o usuário queira
    </p>
    <a href="{% url 'app_excel:index' %}">Voltar Para Página inicial</a>
</body>
</html>
