{% load static %}
<! DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tópico 13</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="h1"> Bem Vindo ao Tópico 13 - Função Média</h1>
    <div class="line"></div>
    <p><b>FUNÇÃO MÉDIA:</b> para utilizarmos a função média será feita da mesma maneira da função soma<br>
    iniciaremos com o "=" depois a função média com acento e letra maiúscula<br>
    depois arrastamos com os valores ou utilizando o ponto e virgula(;) e obteremos a média dos valores desejados<br>
    exemplo a baixo&#8595;</p>
    <img src="{% static 'images/media.png' %}" alt="" width="10%">
    <br>
    <br>
    <a href="{% url 'app_excel:index' %}">Voltar Para Página inicial</a>

</body>
</html>