{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tópico 01</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="h1"> Bem Vindo ao Tópico 01 - Conhecendo o Excel</h1>
    <div class="line"></div>

    <p> A interface inicial do Excel consiste em ferramentas de trabalho separadas por Guias,<br>
        como é mostrado na imagem a baixo &#8595;</p>
    <img src="{% static 'images/interface_inicial_excel.png' %}" alt="vizualize os icones iniciais do Excel" width="70%">
    <br>
    <p> <b> ARQUIVO: </b> O guia arquivo serve para salvar ou criar novos arquivos no Excel</p>

    <p> <b> PAGINA INICIAL: </b> O guia página inicial é a interface principal do Excel <br>
    onde será mostrado diversas formatações como: estilos, fonte, alinhamento, cores etc..</p>

    <p> <b> INSERIR: </b> o guia inserir é responsável por inserir elementos no Excel <br>
    seja ele interno ou externo, como formas geométricas,gráficos, desenhos ou imagens do google</p>

    <p> <b> LAYOUT DA PÁGINA: </b> o guia layout é o local onde é configurado os ajustes para a impressão do arquivo se necessário</p>
    <p> <b> FÓRMULAS: </b> o guia fórmulas disponibilizará suporte para uso de fórmulas no Excel</p>

    <p> quando falamos de Excel a nivel básico, esses  guias serão os  mais utilizados</p>
    <hr>
    <p> como podemos ver na imagem acima, temos um L10 escrito na lateral esquerda no meio da imagem <br>
    este L10 mostra a célula presente, lembrando que no Excel, uma célula é formada pelo encontro de uma linha com uma coluna que será explicado no tópico 02</p>

    <p><b> ESPAÇO DA FÓRMULA: </b>ao lado tem um espaço em branco com um Fx ao lado, neste espaço será mostrado as funções/fórmulas que estão sendo usadas no Excel</p>
    <p><b> CRIAR NOVA ABA: </b>no canto inferior esquerdo temos a opção + onde podemos criar uma nova aba dentro da mesma planilha <br>
    permitindo assim uma organização de arquivos dentro de um único projeto</p>
    <a href="{% url 'app_excel:index' %}">Voltar Para Página inicial</a>
</body>
</html>