{% load static %}
<! DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tópico 06</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="h1"> Bem Vindo ao Tópico 06 - Linhas e Colunas</h1>
    <div class="line"></div>
    <p> <b> CRIAÇÃO DE NOVA LINHA E COLUNA: </b>para criarmos uma nova linha ou coluna fazemos o seguinte passo a passo:<br>
    clicamos na linha/coluna desejada com botão direito e apertamos em inserir, automaticamente a linha será criada acima da linha selecionada<br>
    por exemplo, caso façamos a criação de nova linha na coluna b, será criada uma nova coluna a esquerda(padrão EXCEl)</p>
    <a href="{% url 'app_excel:index' %}">Voltar Para Página inicial</a>
</body>
</html>