{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tópico 04</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="h1"> Bem Vindo ao Tópico 04 - Seleção de Conteúdo</h1>
    <div class="line"></div>
    <p> Basicamente no conteúdo do tópico 04, está sendo complementado sobre o assunto do tópico 03 <br>
    onde podemos personalizar diversas células, colunas ou linhas da maneira que queiramos conforme ensinado no tópico 03<br>
    seja ela cor, fonte, quebra de texto, tamanho etc..</p>
    <a href="{% url 'app_excel:index' %}">Voltar Para Página inicial</a>
</body>
</html>