{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <h1 class="h1"> Bem Vindo ao Tópico 03 - Formatação Básica</h1>
    <div class="line"></div>
    <br>
    <h3> Célula Do Excel &#8595;</h3>
    <img src="{% static 'images/celula.png' %}" alt="vizualize a célula do Excel" width="20%">
    <p> <b> AJUSTE DE LINHA E COLUNA: </b> para ajustarmos uma linha/coluna/célula:<br>
        - deixamos o mouse na linha entre uma letra/número e outro e arrastamos até o tamanho desejado<br>
        - caso queiramos deixar do tamanho do texto da célula, deixamos o mouse entre a letra/numero novamente e clicamos 2 vezes

    </p>
    <p> caso haja vários nomes em uma coluna e seja ajustado o tamanho da coluna com o duplo clique<br>
        a coluna ficará do tamanho do maior texto da coluna ali contido</p>
    <p> outra opção viável para ajuste de texto é a quebra de texto automática dentro do guia inicial como mostra a imagem a baixo&#8595; </p>
    <img src="{% static 'images/quebra_de_texto_automatica.png' %}" alt="quebra de texto automática" width="20%">
    <p> onde ao ser clicado nesta opção ele quebrará o texto para fazer um ajuste forçado dentro daquela célula<br>
    caso queira quebra de texto em toda a coluna basta clicar na letra da coluna e clicar na funcao quebra de texto<br>
    podemos também colocar a quebra de texto em toda a tabela clicando na interseção entre a letra A e o número 1 e posteriormente na funcao quebra de texto</p>
    <p><b> MESCLAGEM: </b> para mesclarmos celulas, clicaremos na primeira célula e arrastamos até a célula que queiramos mesclar<br>
    depois clicamos na opção mesclar e centralizar mostrada na imagem a baixo &#8595;</p>
    <img src="{% static 'images/mesclar.png' %}" alt="mesclagem" width="20%">
    <br>
    <br>
    <a href="{% url 'app_excel:index' %}">Voltar Para Página inicial</a>
</head>
<body>

</body>
</html>