{% load static %}
<! DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title> Aplicação De Instrução Powerpoint</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <style>
        body{
        background-color: rgb(152,251,152)
        }

    </style>
</head>

<body>
    <div class="header">
        <img src="{% static 'images/icone.png' %}" alt="icone da Escom" width="10%">
        <h1 class="h1"> Bem Vindo a Pàgina Inicial De Instrução</h1>
    </div>

    <div class="line"></div>
    <br>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico1' %}'">Ir Para Tópico 01</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico2' %}'">Ir Para Tópico 02</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico3' %}'">Ir Para Tópico 03</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico4' %}'">Ir Para Tópico 04</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico5' %}'">Ir Para Tópico 05</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico6' %}'">Ir Para Tópico 06</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico7' %}'">Ir Para Tópico 07</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico8' %}'">Ir Para Tópico 08</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico9' %}'">Ir Para Tópico 09</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico10' %}'">Ir Para Tópico 10</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico11' %}'">Ir Para Tópico 11</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico12' %}'">Ir Para Tópico 12</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico13' %}'">Ir Para Tópico 13</button>
    <br>
    <br>
    <button class="es_bt" onclick="window.location.href='{% url 'app_powerpoint:topico14' %}'">Ir Para Tópico 14</button>
    <br>
    <br>

</body>
</html>












