{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tópico 01</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="h1"> Bem Vindo ao Tópico 01 - Apresentação Do Powerpoint</h1>
    <div class="line"></div>
<!--    &#8595;-->
    <img src="{% static 'images/apresentacao_inicial.png' %}" alt="apresentação inicial do powerpoint" width="70%">
    <a href="{% url 'app_powerpoint:index' %}">Voltar Para Página inicial</a>
</body>
</html>