{% load static %}
<! DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tópico 01</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="h1"> Bem Vindo ao Tópico 01 - Apresentação Do Powerpoint</h1>
    <div class="line"></div>
<!--    &#8595;-->
    <p>Neste tópico abordaremos a parte inicial do powerpoint, como podemos ver na tela inicial dele a baixo&#8595;</p>
    <img src="{% static 'images/apresentacao_inicial.png' %}" alt="apresentação inicial do powerpoint" width="70%">
    <p>para iniciarmos um novo projeto do zero apertamos em "apresentação em branco"</p>
    <p>após isso abriremos a tela inicial onde trabalharemos durante as instruções seguintes, mostrada a baixo&#8595;</p>
    <img src="{% static 'images/tela_inicial.png' %}" alt="tela inicial do powerpoint" width="70%">
    <p> com isso podemos ver algumas abas de ferramentas importantes, parecidamente com as abas do Excel, começando ali com a aba arquivo</p>
    <p><b>ABA ARQUIVO:</b>a aba arquivo tem como finalidade a manipulação do arquivo,salvar, compartilhar, editar...</p>
    <p><b>ABA INICIAL:</b>a aba principal onde poderemos fazer as principais edições</p>
    <p><b>ABA INSERIR:</b>nessa aba nos fornece a opção de inserir formas geométricas, imagens, tabelas, comentários ou coisas adicionais a nossa apresentação</p>
    <p><b>ABA DESIGN:</b>essa aba corresponde a formatação estética de cores e modelos da nossa apresentação</p>
    <p><b>ABA DESIGN:</b>essa aba corresponde a formatação estética de cores e modelos da nossa apresentação</p>
    <p><b>SLIDE=</b>quadro que aparece no meio da tela do powerpoint</p>
    <p><b>ABA TRANSIÇÃO</b>local onde adicionamos efeitos na troca entre um slide e outro(efeitos transicionais)</p>
    <p><b>ABA ANIMAÇÔES</b>é um painel gerenciador de efeitos que podem ser aplicados nos slides da apresentação</p>
    <p><b>ABA APRESENTAÇÃO DE SLIDES</b>aba onde configuramos a apresentação em si dos slides criados, parte final do projeto</p>
    <p><b>ABA REVISÃO</b>como o próprio nome já diz, esta aba serve para fazer uma revisão geral de toda a apresentação</p>
    <p><b>ABA EXIBIÇÃO</b>aba onde configuramos como a apresentação será exibida</p>
    <p><b>ABA GRAVAÇÃO</b>aba onde podemos criar videos, gravar aulas etc..</p>
    <img src="{% static 'images/vizualizar_slides_como_um_todo.png' %}" alt="vizualização como um todo de todos os slides do powerpoint" width="30%">
    <p>- no primeiro bloco a esquerda, é a vizualização normal dos slides<br>
        - no segundo bloco a esquerda conseguimos ver os slides um ao lado do outro de uma forma mais geral e afastada<br>
        - no terceiro bloco a esquerda temos o modo de leitura parecido com um modo de execução onde a tela fica grande facilitando a vizualização<br>
        - e no último temos a opção de modo de apresentação de slides que se refere a execução do programa<br>
        - lembrando que essas 4 opções se localizam no canto inferior direito do powerpoint</p>

    <p><b>ATALHO DE EXECUÇÃO DOS SLIDES:</b>- um bom atalho de teclado no powerpoint é a tecla "f5" que faz a execução dos slides deixando-o em tela cheia<br>
    para pularmos pro próximo slide apenas clicamos na tela ou usamos a tecla da seta a direita</p>



    <a href="{% url 'app_powerpoint:index' %}">Voltar Para Página inicial</a>
</body>
</html>